.App {
  min-height: 100vh;
  display: flex;
  background: #1a202c;
}

#submit-btn {
  background-color: grey;
  color: white;
}

#sms-icon {
  color: rgba(255, 166, 0, 1);
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
